.header {
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;

  .MuiButton-root {
    color: black;
    font-weight: bold;
    &:hover {
      color: #f4511e;
    }
  }

  .MuiIconButton-root {
    color: black;
    &:hover {
      color: #f4511e;
    }
  }

  .MuiAppBar-root {
    box-shadow: none;
  }

  .MuiTypography-root {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .MuiAvatar-root {
    width: 30px;
    height: 30px;
  }
}
